
.a {
width: 200px;
heigth:100px;
background-color: pink;
position: absolute;
}

.b {
width:200px;
heigth: 100px;
background-color: purple;
position: absolute;
left: 300px
}
.c {
width: 200px;
heigth: 100px;
background-color: orange;
position: absolute;
left: 600px;
}
