p {
color: blue;
text-decoration: overline;
}

.a {
width: 200px;
heigth:100px;
background-color: pink;
position: absolute;
border-style: solid;
border-width: 40px;
border-color: red;
}

.b {
width:200px;
heigth: 100px;
background-color: purple;
position: absolute;
left: 300px;
border-style: dashed;
border-width: 40px;
border-color: green;
}
.c {
width: 200px;
heigth: 100px;
background-color: orange;
position: absolute;
left: 600px;
border-style: solid;
border-width: 40px;
border-color: yellow;
}
